<body>
  <div class="container">
    <h2>Reset Password</h2>
    <div class="input-group">
      <input [type]="showPassword ? 'text' : 'password'" placeholder="New Password" [(ngModel)]="password" required />
      <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword('new')"></i>
    </div>

    <div class="input-group">
      <input [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Confirm Password"
        [(ngModel)]="confirmPassword" required />
      <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePassword('confirm')"></i>
    </div>

    <button type="submit" (click)="resetPassword()" [disabled]="loading">
      <span *ngIf="!loading">Reset</span>
      <div *ngIf="loading" class="loader"></div>
    </button>
  </div>
</body>
