<body>
  <div class="registration-container">

    <!-- Registration Form -->
    <div class="registration-card">
      <h2>Doctor Registration</h2>

      <div class="form-grid">
        <!-- Left Column -->
        <div class="form-left">
          <div class="form-group">
            <label>Registration Number *</label>
            <input type="text" [(ngModel)]="doctorInfo.registrationNumber" required>
          </div>

          <div class="form-group">
            <label>Experience *</label>
            <input type="number" [(ngModel)]="doctorInfo.experience" required>
          </div>

          <div class="form-group">
            <label>Bio *</label>
            <textarea rows="2" [(ngModel)]="doctorInfo.bio" required></textarea>
          </div>

          <div class="form-group">
            <label>Clinic Address URL *</label>
            <input type="url" [(ngModel)]="doctorInfo.clinicLocationURL" required>
          </div>


          <div class="form-group">
            <label>Street *</label>
            <input type="text" [(ngModel)]="doctorInfo.clinicAddress.street">
          </div>

          <div class="address-group">
            <input type="text" placeholder="City" [(ngModel)]="doctorInfo.clinicAddress.city">
            <input type="text" placeholder="State" [(ngModel)]="doctorInfo.clinicAddress.state">
            <input type="text" placeholder="Pin Code" [(ngModel)]="doctorInfo.clinicAddress.pinCode">
            <input type="text" [(ngModel)]="doctorInfo.clinicAddress.country" [value]="'India'" readonly>
          </div>
        </div>

        <!-- Left Column -->
        <div class="form-right">
          <div class="form-group">
            <label>Profile Photo *</label>
            <input type="file" (change)="onSingleFileChange($event, 'profilePhoto')" required>
          </div>

          <div class="form-group">
            <label>Degree Certificate *</label>
            <input type="file" (change)="onSingleFileChange($event, 'degreeCertificate')" required>
          </div>

          <div class="form-group">
            <label>License Certificate *</label>
            <input type="file" (change)="onSingleFileChange($event, 'licenseCertificate')" required>
          </div>

          <div class="form-group">
            <label>Achievements</label>
            <input type="file" (change)="onMultipleFileChange($event, 'achievements')" multiple>
          </div>

          <div class="form-group">
            <label>Clinic Photos</label>
            <input type="file" (change)="onMultipleFileChange($event, 'clinicPhotos')" multiple>
          </div>
        </div>
      </div>
      <button type="submit" class="btn" (click)="submit()">Submit Details</button>
    </div>
  </div>
</body>
