<body>
  <div class="login-wrapper">
    <div class="glass forgot-card">
      <div class="logo">
        <img src="logo.png" alt="Logo">
      </div>
      <h2>Forgot Password</h2>
      <p>Enter your details to reset your password</p>

      <div class="form">
        <!-- <input type="email" placeholder="Email" required> -->

        <div class="password-wrapper">
          <input [type]="showOldPassword ? 'text' : 'password'" [(ngModel)]="oldPassword" placeholder="Old password">
          <i class="fa-solid password-toggle-icon" [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'"
            (click)="togglePassword('old')"></i>
        </div>

        <div class="password-wrapper">
          <input [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword" placeholder="New password">
          <i class="fa-solid password-toggle-icon" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="togglePassword('new')"></i>
        </div>

        <div class="password-wrapper">
          <input [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" placeholder="Confirm password">
          <i class="fa-solid password-toggle-icon" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
              (click)="togglePassword('confirm')"></i>
        </div>

        <div class="btn-group">
          <button type="submit" class="login-btn" (click)="change()">Submit</button>
        </div>
      </div>
    </div>
  </div>

</body>
